*.pth
build/
**/build/
*.pyc
movies/
*.zip
# Ignorer tous les fichiers .pyc dans tous les répertoires __pycache__
**/__pycache__/
**/*.pyc

# Ignorer le fichier TartanAir.pickle
TartanAir.pickle

# data ivm for pipe
test_pipe/

# data ivm for pipe
test_pyra/

*.avi

output/
